<div class="wrapper">
	<div class="wrapper__container">
		<h1>{{ selected }}</h1>
		<mat-form-field class="select--mobile">
			<mat-select [(value)]="selected" disableRipple>
				<mat-option routerLink="/settings/account" value="ACCOUNT SETTINGS"
					>ACCOUNT DETAILS</mat-option
				>
				<mat-option routerLink="/settings/addresses" value="ADDRESSES"
					>ADDRESSES</mat-option
				>
			</mat-select>
		</mat-form-field>

		<!-- Desktop Select Navigation -->
		<nav class="select--desktop">
			<ul>
				<li
					routerLink="/settings/account"
					(click)="selected = 'ACCOUNT SETTINGS'"
					routerLinkActive="active"
				>
					ACCOUNT DETAILS
				</li>
				<li
					routerLink="/settings/addresses"
					(click)="selected = 'ADDRESSES'"
					routerLinkActive="active"
				>
					ADDRESSES
				</li>
			</ul>
		</nav>
		<router-outlet></router-outlet>
	</div>
</div>
