<div class="products-list" *ngIf="!apiService.isLoading">
	<mat-card
		*ngFor="let product of products; let i = index"
		class="product-item"
		class="card"
	>
		<main (click)="openDetailView(product)">
			<div class="card__image-container">
				<img class="card__image-container__image" [src]="product?.image" />
				<div class="card__image-container__overlay">
					<button mat-raised-button aria-label="Expand image">
						<span>Product View</span>
					</button>
				</div>
			</div>

			<mat-card-content class="card__content">
				<span class="card__content__title">{{ product.title }}</span>
				<span class="card__content__price"
					>{{
						product.price * exchangeRateService.selectedRate
							| number : '1.2-2'
					}}
					{{ exchangeRateService.icon }}</span
				>
			</mat-card-content>
		</main>

		<button mat-icon-button (click)="toggleSelected(product)">
			<mat-icon [ngClass]="{ 'red-icon': determineIcon(product) === 'favorite' }">{{
				determineIcon(product)
			}}</mat-icon>
		</button>
	</mat-card>
</div>
<app-spinner></app-spinner>
