<div class="header">
	<img class="header--logo" src="assets/img/logo.png" alt="logo" />

	<h1 class="header--title">Greenfield Traders</h1>

	<div class="header--icon-box">
		<div class="icon-box--currency-wrapper">
			<mat-icon>euro</mat-icon>
			<span>{{ selectedCurrency }}</span>
			<mat-icon
				class="dropdown-arrow"
				(click)="dropDownOpen = !dropDownOpen"
				>expand_more</mat-icon
			>
			<div *ngIf="dropDownOpen" class="dropdown-menu" #dropdown>
				<div (click)="selectedCurrency = 'EUR'">EUR</div>
				<div (click)="selectedCurrency = 'USD'">USD</div>
				<div (click)="selectedCurrency = 'GBP'">GBP</div>
			</div>
		</div>
		<div class="icon-box--menuitem-container">
			<div class="icon-wrapper">
				<mat-icon>person</mat-icon>
				<div class="popup-box"></div>
			</div>
			<div class="icon-wrapper">
				<mat-icon>favorite</mat-icon>
			</div>
			<div class="icon-wrapper">
				<mat-icon>shopping_bag</mat-icon>
				<div class="popup-box bag"></div>
			</div>
			<div class="icon-wrapper"><mat-icon>search</mat-icon></div>
		</div>
	</div>
</div>
