.header {
	position: sticky;
	top: 0;
	padding: 1rem;
	background-color: var(--primary-color);
	display: flex;
	// position: relative;
	align-items: center;
	justify-content: space-between;
	z-index: 99;

	&--logo {
		width: 40px;
		cursor: pointer;
	}

	&--title {
		color: white;
		margin: 0;
		padding: 0 1rem;
		display: none;
		line-height: 1;
	}

	&--icon-box {
		display: flex;
		gap: 0.5rem;
		color: white;

		.icon-box--currency-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 0.5rem;
			position: relative;
			min-width: 80px;

			.dropdown-arrow {
				cursor: pointer;
			}

			.dropdown-menu {
				position: absolute;
				top: calc(100% + 1rem);
				right: 0;
				left: 0;
				padding: 0.5rem;
				background-color: white;
				z-index: 2;
				color: black;
				box-shadow: 0 0 6px 0 rgba($color: #000000, $alpha: 0.4);

				.currency {
					margin-top: 0.5rem;
					cursor: pointer;
				}
			}
		}

		.icon-box--menuitem-container {
			display: flex;
			gap: 0.5rem;

			.icon-wrapper {
				position: relative;
				display: flex;
				align-items: center;

				span {
					cursor: pointer;
				}

				mat-icon {
					transition: 225ms all ease-in-out;
					cursor: pointer;
					&:hover {
						transform: scale(1.1);
					}
				}

				.account-name {
					display: none;
				}

				.popup-box {
					position: absolute;
				}

				.product-preview-container {
					display: flex;
					align-items: center;
					width: 100%;
					justify-content: space-between;
					margin-top: 1rem;
					gap: 1rem;

					img {
						width: 50px;
					}
				}

				.quantity-indicator {
					position: absolute;
					width: 1.1rem;
					height: 1.1rem;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					background-color: var(--accent-color);
					bottom: -0.3rem;
					right: -0.2rem;
					cursor: pointer;
				}
			}
		}
	}

	&--burger-menu {
		color: white;
	}
}

@media (min-width: 480px) {
	.header {
		padding: 2rem;

		&--logo {
			width: 80px;
		}

		&--icon-box {
			display: flex;

			color: white;
		}

		&--burger-menu {
			display: none;
		}
	}
}

@media (min-width: 801px) {
	.header {
		&--title {
			display: block;
			font-size: 1.2rem;
		}

		&--icon-box {
			.icon-box--menuitem-container {
				display: flex;
				gap: 0.5rem;

				.icon-wrapper {
					.account-name {
						display: block !important;
					}
					.account-icon {
						display: none;
					}
				}
			}
		}
	}
}
