<div class="header">
	<img
		class="header--logo"
		src="assets/img/logo.png"
		alt="logo"
		[routerLink]="''"
	/>

	<h1 class="header--title">Greenfield Traders</h1>

	<div class="header--icon-box">
		<div class="icon-box--currency-wrapper">
			<span>{{ exchangeRateService.icon }}</span>

			<span>{{ exchangeRateService.selectedCurrency }}</span>
			<mat-icon
				class="dropdown-arrow"
				(click)="dropDownOpen = !dropDownOpen"
				>expand_more</mat-icon
			>
			<div *ngIf="dropDownOpen" class="dropdown-menu" #dropdown>
				<div (click)="onCurrencySelected('USD')">USD</div>
				<div (click)="onCurrencySelected('EUR')">EUR</div>
				<div (click)="onCurrencySelected('GBP')">GBP</div>
			</div>
		</div>
		<div class="icon-box--menuitem-container">
			<div class="icon-wrapper icon-wrapper--person">
				<mat-icon (click)="openLoginDialog()">person</mat-icon>
				<button
					*ngIf="showLogOutButton"
					(click)="logout()"
					class="logout-btn"
				>
					Logout
				</button>
				<div class="popup-box"></div>
			</div>
			<div class="icon-wrapper">
				<mat-icon>favorite</mat-icon>
			</div>
			<div class="icon-wrapper">
				<mat-icon (click)="shoppingCartOpen = !shoppingCartOpen"
					>shopping_bag</mat-icon
				>
				<div
					class="quantity-indicator"
					(click)="shoppingCartOpen = !shoppingCartOpen"
				>
					{{ shoppingBasketService.products.length }}
				</div>
				<div class="popup-box bag" *ngIf="shoppingCartOpen">
					<h2>Shopping Cart</h2>

					<div
						class="product-preview-container"
						*ngFor="
							let item of shoppingBasketService.products;
							let i = index
						"
					>
						<img [src]="item.image" alt="img-preview" />
						<span>{{ item.title }} ({{ item.size }})</span>
						<span>{{ item.quantity }}X</span>
					</div>

					<div *ngIf="shoppingBasketService.products.length < 1">
						Shopping Cart is empty
					</div>

					<div class="checkout-row">
						<span
							>Total:
							{{
								shoppingBasketService.totalPrice * exchangeRateService.selectedRate
									| number : '1.2-2'
							}}{{exchangeRateService.icon}}</span
						>
						<button
							class="cart-action-btn"
							[routerLink]="'shopping-cart'"
							(click)="shoppingCartOpen = false"
						>
							View Cart
						</button>
						<button class="cart-action-btn">Quick Checkout</button>
					</div>
				</div>
			</div>
			<div routerLink="/search" class="icon-wrapper">
				<mat-icon>search</mat-icon>
			</div>
		</div>
	</div>
</div>
