<div class="header">

	<img class="header--logo" src="assets/img/logo.png" alt="logo">

	<h1 class="header--title">Greenfield Traders</h1>

	<div class="header--icon-box">
		<div class="icon-box--currency-wrapper">
			<mat-icon>euro</mat-icon>
			<span>{{selectedCurrency}}</span>
			<mat-icon class="dropdown-arrow" (click)="dropDownOpen = !dropDownOpen">expand_more</mat-icon>
            <div *ngIf="dropDownOpen" class="dropdown-menu">
                <div (click)="selectedCurrency = 'EUR'">EUR</div>
                <div (click)="selectedCurrency = 'USD'">USD</div>
                <div (click)="selectedCurrency = 'GBP'">GBP</div>
            </div>
		</div>
		<div class="icon-box--menuitem-wrapper">
			<mat-icon>person</mat-icon>
			<mat-icon>favorite</mat-icon>
			<mat-icon>shopping_bag</mat-icon>
			<mat-icon>search</mat-icon>
		</div>
	</div>

   
</div>
