<div class="wrapper">
	<div class="wrapper__window">
		<div
			(click)="showProducts = true"
			class="wrapper__window__searchbar-container"
		>
			<mat-form-field>
				<input
					placeholder="SEARCH"
					matInput
					type="search"
					[(ngModel)]="searchTerm"
				/>
			</mat-form-field>
			<div class="wrapper__window__searchbar-container__btn-container">
				<mat-icon>search</mat-icon>
				<mat-icon class="close" routerLink="/">close</mat-icon>
			</div>
		</div>
		<div
			*ngIf="showProducts"
			#productList
			class="wrapper__window__procucts-container"
		></div>
	</div>
</div>
