.wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100dvh;
	background-color: rgba(0, 0, 0, 0.9);

	&__window {
		position: absolute;
		top: 5rem;
		left: 5rem;
		right: 5rem;

		&__searchbar-container {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: fit-content;
			background-color: whitesmoke;

			mat-form-field {
				flex-basis: 100%;
				border: none;
			}

			&__btn-container {
				display: flex;
				align-items: center;
				gap: 1rem;
				padding: 1rem;

				.close {
					cursor: pointer;
				}
			}
		}
	}
}
