.card {
	width: 400px;
	margin: 0 auto;
	margin-top: 2rem;
	padding: 20px;

	.card__button-option {
		margin-bottom: 1rem;
	}

	form {
		display: flex;
		flex-direction: column;

		button {
			color: white;
			background-color: var(--accent-color);
			font-size: 1rem;
			border: none;
			border-radius: 0.5rem;
			padding: 0.5rem;
			white-space: nowrap;
			box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.2);
			cursor: pointer;
			transition: 225ms all ease-in-out;

			&:hover {
				background-color: var(--primary-color);
			}
		}
	}
}
