.problem-container {
	padding: 2rem;
	display: flex;
	justify-content: center;

	flex-direction: column;
	row-gap: 2rem;

	div {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: 1rem;

		a {
			color: var(--secondary-color);
		}

		mat-icon {
			transform: scale(1.2);
			color: indianred;
		}
	}
}
