<div class="wrapper">
	<div class="wrapper__window">
		<div
			(click)="getProductsAndCategories()"
			class="wrapper__window__searchbar-container"
		>
			<!-- Search Input Field -->
			<mat-form-field>
				<input
					placeholder="SEARCH"
					matInput
					type="search"
					autocomplete="off"
					aria-label="Search"
					#searchInput
					[(ngModel)]="searchTerm"
					(click)="showProducts = true"
				/>
			</mat-form-field>
			<div class="wrapper__window__searchbar-container__btn-container">
				<mat-icon>search</mat-icon>
				<mat-icon class="close" routerLink="/">close</mat-icon>
			</div>
		</div>
		<div class="wrapper__window__container" *ngIf="showProducts">
			<!-- Category bar -->
			<div class="wrapper__window__container__catergory-bar">
				<mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
					<mat-button-toggle checked="true" (click)="setsCategory('all')"
						>All</mat-button-toggle
					>
					<mat-button-toggle
						*ngFor="let category of categories"
						value="red"
						(click)="setsCategory(category)"
						>{{ category }}</mat-button-toggle
					>
				</mat-button-toggle-group>
			</div>

			<!-- Products container -->
			<div #productList class="wrapper__window__container__procucts-container">
				<app-product-item
					[hidden]="
						(!(
							searchTerm &&
							searchTerm.length >= 2 &&
							product.title.toLowerCase().includes(searchTerm.toLowerCase())
						) &&
							searchTerm.length > 2) ||
						(product.category !== selectedCategory &&
							selectedCategory !== 'all')
					"
					*ngFor="let product of products"
					class="product-item"
					[product]="product"
				></app-product-item>
				<app-spinner></app-spinner>
			</div>
		</div>
	</div>
</div>
