.wrapper {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.9);
	overflow: hidden !important;

	&__window {
		position: absolute;
		inset: 0;
		overflow: hidden !important;
		width: 100vw;

		&__searchbar-container {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: fit-content;
			background-color: whitesmoke;

			mat-form-field {
				flex-basis: 100%;
				border: none;
			}

			&__btn-container {
				display: flex;
				align-items: center;
				gap: 1rem;
				padding: 1rem;

				.close {
					cursor: pointer;
				}
			}
		}

		&__container {
			&__catergory-bar {
				display: flex;
				width: 100%;
				background-color: whitesmoke;
				padding-bottom: 1rem;

				* {
					flex-basis: 100%;
					cursor: pointer;
				}

				mat-button-toggle-group {
					overflow-x: scroll;
				}
			}

			&__procucts-container {
				display: flex;
				height: calc(100dvh - 156px);
				flex-wrap: wrap;
				justify-content: center;
				gap: 1rem;
				padding: 1rem;
				background-color: whitesmoke;
				overflow-y: scroll;
			}
		}
	}
}

.d-none {
	display: none;
}

@media (min-width: 1025px) {
	.wrapper {
		&__window {
			inset: unset;
			top: 5rem;
			left: 15rem;
			right: 15rem;
			bottom: 5rem;
			width: unset;

			&__container {
				&__procucts-container {
					display: flex;
					height: 460px !important;
				}
			}
		}
	}
}
