<div class="order-history-container" *ngIf="!mobile">
	<h1 *ngIf="orderService.orders.length != 0">MY ORDERS</h1>
	<mat-card *ngFor="let order of orderService.orders.reverse()" class="order-container">
		<div class="order-overview-container">
			<div class="order-detail-wrapper">
				<span>ORDER PLACED</span>
				<span>
					{{ order.date.seconds * 1000 | date : 'longDate' }}
				</span>
			</div>
			<div class="order-detail-wrapper">
				<span>TOTAL</span>
				<span
					>{{ order.paymentDetails.currency
					}}{{ order.paymentDetails.total | number : '1.2-2' }}
				</span>
			</div>
			<div class="order-detail-wrapper">
				<span>DELIVERED TO</span>
				<span
					style="cursor: pointer"
					matTooltip="{{ order.deliveryAddress.street }},
					{{ order.deliveryAddress.zipCode }} 
					{{ order.deliveryAddress.city }},
					{{ order.deliveryAddress.country }}"
					aria-label="Button that displays a tooltip when focused or hovered over"
				>
					{{ order.deliveryAddress.firstName }}
					{{ order.deliveryAddress.lastName }}</span
				>
			</div>
			<div class="order-detail-wrapper">
				<span>{{ order.orderID }}</span>
				<span class="more-details" (click)="openSummaryDialog(order)"
					>View Order Summary</span
				>
			</div>
		</div>
		<div class="product-overview-container">
			<div
				*ngFor="let product of order.products; let i = index"
				class="product-wrapper"
			>
				<div class="product">
					<img [src]="product.image" alt="product-img" />
					<div class="product-info-actions">
						<span>{{ product.title }}</span>
						<span style="font-size: smaller"
							>Return window open until
							<strong>{{
								order.returnDate!.seconds * 1000 | date : 'longDate'
							}}</strong>
						</span>
						<div class="btn-wrapper">
							<button
								class="btn-accent"
								(click)="openProductDialog(product)"
							>
								Buy again
							</button>
							<button
								class="btn-white"
								(click)="openProductDialog(product)"
							>
								See Product Detail
							</button>
						</div>
					</div>
				</div>
				<div class="problem-btns">
					<button *ngIf="i === 0" class="btn-accent" (click)="openProblemDialog()">Problem with order</button>
					<button class="btn-white" (click)="productReview()">Write Product Review</button>
				</div>
			</div>
		</div>
	</mat-card>
</div>
<div class="mobile-order-container" *ngIf="mobile">
	<h1 *ngIf="orderService.orders.length != 0">MY ORDERS</h1>
	<mat-expansion-panel
		(opened)="panelOpenState = true"
		(closed)="panelOpenState = false"
		*ngFor="let order of orderService.orders.reverse()"
		class="order-card"
	>
		<mat-expansion-panel-header
			*ngFor="let product of order.products.slice(0, 1); let i = index"
		>
			<mat-panel-title>
				<img [src]="product.image" class="showcase-img" />
				<span>{{ order.orderID }} ...</span>
			</mat-panel-title>
		</mat-expansion-panel-header>

		<h2 style="text-align: center">Order Details</h2>
		<ol>
			<li>
				<strong>Date:</strong>
				{{ order.date.seconds * 1000 | date : 'longDate' }}
			</li>
			<li>
				<strong>Total:</strong> {{ order.paymentDetails.currency
				}}{{ order.paymentDetails.total | number : '1.2-2' }}
			</li>
			<li>
				<strong>Delivered To:</strong> {{ order.deliveryAddress.firstName }}
				{{ order.deliveryAddress.lastName }}, {{ order.deliveryAddress.street }},
				{{ order.deliveryAddress.zipCode }}
				{{ order.deliveryAddress.city }},
				{{ order.deliveryAddress.country }}
			</li>
			<li><strong>ID:</strong> {{ order.orderID }}</li>
			<li>
				<strong>Return Window:</strong>
				{{ order.returnDate!.seconds * 1000 | date : 'longDate' }}
			</li>
		</ol>
		<div class="mobile-product" *ngFor="let product of order.products; let i = index">
			<img [src]="product.image" alt="product-img" />
			<div class="product-info-actions">
				<span>{{ product.title }}</span>
				<div class="btn-wrapper-mobile">
					<button class="btn-accent" (click)="openProductDialog(product)">
						Buy again
					</button>
					<button class="btn-white" (click)="openProductDialog(product)">
						See Product Detail
					</button>
				</div>
			</div>
		</div>
	</mat-expansion-panel>
</div>
<div class="empty-orders-prompt" *ngIf="orderService.orders.length === 0">
	<mat-icon>list_alt</mat-icon>
	<h3>No orders yet</h3>
	<button [routerLink]="''">Explore products</button>
</div>
