.new-card-container {
	padding: 2rem;
}

.payment-info {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	row-gap: 2rem;

	.number-wrapper {
		mat-form-field {
			width: 100%;
		}
	}

	.security-wrapper {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;

		mat-form-field {
			flex-basis: 100%;
		}
	}

	.name-wrapper {
		mat-form-field {
			width: 100%;
		}
	}
}

@media (min-width: 400px) {
	.security-wrapper {
		flex-wrap: unset !important;
	}
}
