<div class="shopping-cart-content">
	<mat-expansion-panel
		(opened)="panelOpenState = true"
		(closed)="panelOpenState = false"
        *ngFor="let product of shoppingCartService.products; let i= index"
        class="product-panel"
	>
		<mat-expansion-panel-header>
		    
            <mat-panel-title> <img [src]="product.image" alt="product-img" class="product-img"> {{product.title}} ({{product.size}})</mat-panel-title>

            <mat-panel-description>

                <div>
                    Price: {{product.price * exchangeRateService.selectedRate | number : '1.2-2'}}{{exchangeRateService.icon}}
                </div>
                <div class="quantity-container">
                    <mat-icon (click)="incrementQuantity(i, $event)">add_circle</mat-icon>
                    <div class="quantity-box">{{product.quantity}}</div>
                    <mat-icon (click)="decreaseQuantity(i, $event)">do_not_disturb_on</mat-icon>
                </div>
                <div class="total-container"> 
                    Item Total:
							{{
								product.price * product.quantity * exchangeRateService.selectedRate
									| number : '1.2-2'
							}} {{exchangeRateService.icon}}
                </div>

				
			</mat-panel-description> 

		</mat-expansion-panel-header>

        <div class="product-detail-container">
          
            <div class="img-description-wrapper">
                <img [src]="product.image" alt="product-img" class="product-img">

                <div class="description-infos">
                    <h1>{{product.title}}</h1>
                    <p>{{product.description}}</p>
                    <div class="info-row">
            
                        <div class="info">Size: {{product.size}}</div>
                        <div class="info">Bought: {{product.rating.count}} Times</div>
                        <div class="stars">
                            <mat-icon *ngFor="let star of [0, 1, 2, 3, 4]; let i = index"
                            [ngClass]="{'filled': i + 1 < product.rating.rate}"
                            
                            >star</mat-icon>
                            (Rating: {{product.rating.rate}})
                        </div>

                    </div>
                </div>  

            </div>
        </div>

	</mat-expansion-panel>
</div>
