<div class="shopping-cart-content">
	<mat-expansion-panel
		(opened)="panelOpenState = true"
		(closed)="panelOpenState = false"
		*ngFor="let product of shoppingCartService.products; let i = index"
		class="product-panel"
	>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<img
					[src]="product.image"
					alt="product-img"
					class="product-img"
				/>
				{{ product.title }} ({{ product.size }})</mat-panel-title
			>

			<mat-panel-description>
				<div>
					Price:
					{{
						product.price * exchangeRateService.selectedRate
							| number : '1.2-2'
					}}{{ exchangeRateService.icon }}
				</div>
				<div class="quantity-container">
					<mat-icon (click)="incrementQuantity(i, $event)"
						>add_circle</mat-icon
					>
					<div class="quantity-box">{{ product.quantity }}</div>
					<mat-icon (click)="decreaseQuantity(i, $event)"
						>do_not_disturb_on</mat-icon
					>
				</div>
				<div class="total-container">
					Item Total:
					{{
						product.price *
							product.quantity *
							exchangeRateService.selectedRate | number : '1.2-2'
					}}
					{{ exchangeRateService.icon }}
				</div>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div class="product-detail-container">
			<div class="img-description-wrapper">
				<div class="description-infos">
					<h1>{{ product.title }}</h1>
					<p>{{ product.description }}</p>
					<div class="info-row">
						<div class="info">Size: {{ product.size }}</div>
						<div class="info">
							Bought: {{ product.rating.count }} Times
						</div>
						<div class="stars">
							<mat-icon
								*ngFor="
									let star of [0, 1, 2, 3, 4];
									let i = index
								"
								[ngClass]="{
									filled: i + 1 < product.rating.rate
								}"
								>star</mat-icon
							>
							(Rating: {{ product.rating.rate }})
						</div>
					</div>
				</div>
				<img
					[src]="product.image"
					alt="product-img"
					class="product-img"
				/>
			</div>
		</div>
	</mat-expansion-panel>

	<div
		class="checkout-container"
		*ngIf="shoppingCartService.products.length > 0"
	>
		<mat-card>
			<div class="price-info-container">
				<span>Subtotal:</span
				><span>
					{{
						shoppingCartService.totalPrice *
							exchangeRateService.selectedRate | number : '1.2-2'
					}}{{ exchangeRateService.icon }}</span
				>
			</div>
			<div class="price-info-container">
				<span>Shipping:</span>
				<span
					>{{
						shoppingCartService.shippingCosts *
							exchangeRateService.selectedRate | number : '1.2-2'
					}}{{ exchangeRateService.icon }}</span
				>
			</div>
			<div class="price-info-container">
				<span>Coupon:</span>
				<mat-form-field>
					<mat-label>Code</mat-label>
					<input
						matInput
						placeholder="Enter Code here"
						value=""
						maxlength="5"
						(input)="validateDiscount()"
						[(ngModel)]="discountCode"
						[ngClass]="{ valid: discountGiven }"
					/>
				</mat-form-field>
			</div>
			<div *ngIf="discountGiven" class="price-info-container">
				<span>Discount:</span>
				<span class="discount"
					>+ {{ this.discount * exchangeRateService.selectedRate
					}}{{ exchangeRateService.icon }}</span
				>
			</div>
			<div class="price-info-container">
				<span> Grand Total: </span>
				<span>
					{{
						(shoppingCartService.shippingCosts +
							shoppingCartService.totalPrice -
							this.discount) *
							exchangeRateService.selectedRate | number : '1.2-2'
					}}{{ exchangeRateService.icon }}
				</span>
			</div>
			<h2 class="payment-header">Payment Options</h2>
			<div class="payment-option-container">
				<div class="payment-option-wrapper">
					<mat-radio-button
						color="primary"
						(click)="selectPayment('credit')"
					></mat-radio-button>
					<mat-icon>credit_card</mat-icon>
					Credit Card
				</div>
				<form *ngIf="paymentMethod === 'credit'" [formGroup]="form1">
					<div class="payment-info">
						<div class="number-wrapper">
							<mat-form-field>
								<mat-label>Enter Card Number</mat-label>
								<input matInput placeholder="1234 5678 9012 3456" 
								formControlName="cardNumber"

								required
								/>
								<mat-icon matSuffix
									>credit_card</mat-icon
								>
								<mat-error *ngIf="form1.controls['cardNumber'].invalid && form1.controls['cardNumber'].touched">
									Card number is required (16 digits).
								  </mat-error>
							</mat-form-field>
						</div>
	
						<div class="security-wrapper">
							<mat-form-field>
								<mat-label>Expiry Date</mat-label>
								<input
									matInput
									placeholder="MM/JJ"
									required
									formControlName="expiry"
								/>
								<mat-icon matSuffix
									>credit_card_off</mat-icon
								>
								<mat-error *ngIf="form1.controls['expiry'].invalid && form1.controls['expiry'].touched">
									Valid expiry date is required.
								  </mat-error>
							</mat-form-field>
							<mat-form-field>
								<mat-label>CVC/ CVV</mat-label>
								<input
									matInput
									placeholder="3 digits"
									formControlName="cvv"

									required
								/>
								<mat-icon matSuffix
									>pin</mat-icon
								>
								<mat-error *ngIf="form1.controls['cvv'].invalid && form1.controls['cvv'].touched">
									Valid cvv is required.
								  </mat-error>
							</mat-form-field>
						</div>
						<div class="name-wrapper">
							<mat-form-field>
								<mat-label>Name On Card</mat-label>
								<input
									matInput
									placeholder="Enter Cardholder's Name"
									formControlName=""
									required
									formControlName="name"
								/>
								<mat-icon matSuffix
									>person</mat-icon
								>
								<mat-error *ngIf="form1.controls['name'].invalid && form1.controls['name'].touched">
									Cardholder's name is required.
								  </mat-error>
							</mat-form-field>
						</div>
					</div>
				</form>
			




				<div class="payment-option-wrapper">
					<mat-radio-button
						color="primary"
						(click)="selectPayment('paypal')"
					></mat-radio-button>
					<!-- <mat-icon>paid</mat-icon> -->
					<i class="bi bi-paypal"></i>
					Paypal
				</div>
				


				<div class="payment-option-wrapper">
					<mat-radio-button
						color="primary"
						(click)="selectPayment('debit')"
					></mat-radio-button>
					<mat-icon>receipt_long</mat-icon>
					Direct Debit
				</div>
				<form *ngIf="paymentMethod === 'debit'" [formGroup]="form2">
					<div class="payment-info">

						<div class="security-wrapper">
							<mat-form-field>
								<mat-label>First Name</mat-label>
								<input
									matInput
									placeholder="Enter First Name"
									formControlName="firstname"
									required
								/>
								<mat-error *ngIf="form2.controls['firstname'].invalid && form2.controls['firstname'].touched">Please enter first name.</mat-error>
							</mat-form-field>
							<mat-form-field>
								<mat-label>Last Name</mat-label>
								<input
									matInput
									placeholder="Enter Last Name"
									formControlName="lastname"
									required
								/>
								<mat-error *ngIf="form2.controls['lastname'].invalid && form2.controls['lastname'].touched">Please enter last name.</mat-error>
							</mat-form-field>
						</div>
	
	
						<div class="number-wrapper">
							<mat-form-field>
								<mat-label>Street + Number</mat-label>
								<input matInput 
								placeholder="Enter Street Name" 
								formControlName="adress"
								required
								/>
								<mat-error *ngIf="form2.controls['adress'].invalid && form2.controls['adress'].touched">
									Please enter a valid adress.
								</mat-error>
							</mat-form-field>
						</div>
	
						<div class="security-wrapper">
							<mat-form-field>
								<mat-label>Zip Code</mat-label>
								<input
									matInput
									placeholder="Enter Zip Code"
									formControlName="zipcode"
									required
	
								/>
								<mat-error *ngIf="form2.controls['zipcode'].invalid && form2.controls['zipcode'].touched">Please enter zipcode.</mat-error>
							</mat-form-field>
							<mat-form-field>
								<mat-label>City</mat-label>
								<input
									matInput
									placeholder="Enter City Name"
									formControlName="city"
									required
								/>
								<mat-error *ngIf="form2.controls['city'].invalid && form2.controls['city'].touched">
									Please enter city.
								</mat-error>
							</mat-form-field>
						</div>
	
						
						<div class="name-wrapper">
							<mat-form-field>
								<mat-label>Country</mat-label>
								<mat-select formControlName="country" value="Option">
									<mat-option *ngFor="let country of countries"
									[value]="country"
									>{{country}}</mat-option>
								</mat-select>
								<mat-error *ngIf="form2.controls['city'].invalid">Please select a country.</mat-error>
							</mat-form-field>
						</div>
					</div>
				</form>
				



			</div>

			<button *ngIf="paymentMethod != 'paypal'" class="payment-button" (click)="openPaymentDialog()">
				Proceed to Payment
			</button>

			<button *ngIf="paymentMethod === 'paypal'" class="paypal-button">
				Checkout with paypal <i class="bi bi-paypal pal"></i>
			</button>

		</mat-card>
	</div>

	<div
		class="empty-cart-prompt"
		*ngIf="shoppingCartService.products.length === 0"
	>
		<mat-icon>shopping_cart</mat-icon>
		<h3>Shopping Cart is empty</h3>
		<button [routerLink]="''">Explore products</button>
	</div>
</div>
