<div mat-dialog-content>
	<div class="product-wrapper">
		<img [src]="data.image" alt="product-image" />
		<div>
			<h1>{{ data.title }}</h1>
            <span class="subheading">Greenfield Traders</span>
			<span> {{ data.description }} </span>

		</div>
	</div>
    

</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">X</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Add to basket</button>
</div> -->

<span class="close-button" (click)="onNoClick()"
	><mat-icon>close</mat-icon></span
>
