<div mat-dialog-content>
	<div class="product-container">
		<img [src]="data.image" alt="product-image" />
		<div class="product-detail-container">
			<h1 class="main-heading">{{ data.title }}</h1>
            <span class="subheading">Greenfield Traders</span>
            <span class="price">{{data.price }}$</span>
			<span> {{ data.description }} </span>
            <div class="rating-container">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <span>(no reviews)</span>
            </div>
            <div class="size-selection-container">
                <span class="sizes">Sizes</span>
                <div class="size-box-wrapper">
                    <div>2XS</div>
                    <div>XS</div>
                    <div>S</div>
                    <div>M</div>
                    <div>L</div>
                    <div>XL</div>
                    <div>2XL</div>
                    <div>3XL</div>
                    <div>4XL</div>
                </div>
                <button (click)="addToBasket()" *ngIf="!orderPlaced">Add to cart</button>
                <button *ngIf="orderPlaced" class="success">
                    Order Placed! View Cart</button>
                <div class="shipping-option-container">
                    <mat-icon>local_shipping</mat-icon>
                    <span>Free shipping above 250$</span>
                </div>
            </div>
		</div>
	</div>
    

</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">X</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Add to basket</button>
</div> -->

<span class="close-button" (click)="onNoClick()"
	><mat-icon>close</mat-icon></span
>
