.form {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	width: 100%;

	&__container {
		&__subcontainer {
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;

			.label {
				color: #666666;
			}
		}
	}
	.label {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0.3rem;
	}

	button {
		margin-top: 1rem;
		max-width: 170px;
		align-self: center;
	}
}

@media (min-width: 801px) {
	.form__container__fieldset--name {
		display: flex;
		flex-direction: row;
		margin-bottom: 1rem;
		gap: 1rem;

		.form__container__subcontainer {
			flex-basis: 100%;
		}
	}
}
