<mat-accordion class="example-headers-align" multi>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>New Address?</mat-panel-title>
		</mat-expansion-panel-header>

		<form
			[formGroup]="form"
			class="form"
			(ngSubmit)="submit()"
			aria-label="Address Form"
		>
			<div class="form__container">
				<!-- Name -->
				<fieldset class="form__container__fieldset--name">
					<legend>Name</legend>
					<!-- First Name -->
					<div class="form__container__subcontainer">
						<label for="firstName" class="label"
							>FIRST NAME<small>*REQUIRED</small></label
						>
						<mat-form-field>
							<input
								formControlName="firstName"
								#firstName
								matInput
								type="text"
								placeholder="First Name"
								aria-required="true"
								required
							/>
						</mat-form-field>
						<mat-error
							class="mat-error"
							*ngIf="
								form.controls['firstName'].invalid &&
								form.controls['firstName'].touched
							"
						>
							First Name is required
						</mat-error>
					</div>
					<!-- Last Name -->
					<div class="form__container__subcontainer">
						<label for="lastName" class="label"
							>LAST NAME<small>*REQUIRED</small></label
						>
						<mat-form-field>
							<input
								formControlName="lastName"
								#lastName
								matInput
								type="text"
								id="lastName"
								placeholder="Last Name"
								aria-required="true"
								required
							/>
						</mat-form-field>
						<mat-error
							class="mat-error"
							*ngIf="
								form.controls['lastName'].invalid &&
								form.controls['lastName'].touched
							"
							>Last Name is required</mat-error
						>
					</div>
				</fieldset>

				<fieldset>
					<legend>Address</legend>
					<!-- Street -->
					<div class="form__container__subcontainer">
						<label for="street" class="label"
							>STREET<small>*REQUIRED</small></label
						>
						<mat-form-field>
							<input
								formControlName="street"
								#street
								matInput
								type="text"
								id="street"
								placeholder="Street + Number"
								aria-required="true"
								autocomplete="street-address"
								required
							/>
						</mat-form-field>
						<mat-error
							class="mat-error"
							*ngIf="
								form.controls['street'].invalid &&
								form.controls['street'].touched
							"
							>Street is required</mat-error
						>
					</div>
					<!-- Zip Code -->
					<div class="form__container__subcontainer">
						<label for="zipCode" class="label"
							>ZIP CODE<small>*REQUIRED</small></label
						>
						<mat-form-field>
							<input
								formControlName="zipCode"
								#zipCode
								matInput
								type="number"
								id="zipCode"
								placeholder="Zip Code"
								aria-required="true"
								autocomplete="postal-code"
								required
							/>
						</mat-form-field>
						<mat-error
							class="mat-error"
							*ngIf="
								form.controls['zipCode'].invalid &&
								form.controls['zipCode'].touched
							"
							>Zip Code is required</mat-error
						>
					</div>
					<!-- City -->
					<div class="form__container__subcontainer">
						<label for="city" class="label"
							>CITY<small>*REQUIRED</small></label
						>
						<mat-form-field>
							<input
								formControlName="city"
								#city
								matInput
								type="text"
								id="city"
								placeholder="City"
								aria-required="true"
								autocomplete="address-level2"
								required
							/>
						</mat-form-field>
						<mat-error
							class="mat-error"
							*ngIf="
								form.controls['city'].invalid &&
								form.controls['city'].touched
							"
							>City is required</mat-error
						>
					</div>
					<!-- Country -->
					<div class="form__container__subcontainer">
						<label for="country" class="label"
							>COUNTRY<small>*REQUIRED</small></label
						>
						<mat-form-field>
							<input
								formControlName="country"
								#country
								matInput
								type="text"
								id="country"
								placeholder="Country"
								aria-required="true"
								autocomplete="country"
								required
							/>
						</mat-form-field>
						<mat-error
							class="mat-error"
							*ngIf="
								form.controls['country'].invalid &&
								form.controls['country'].touched
							"
							>Country is required</mat-error
						>
					</div>
				</fieldset>
			</div>
			<button (click)="accordion.closeAll()" class="cart-action-btn" type="submit">
				SUBMIT
			</button>
		</form></mat-expansion-panel
	>
</mat-accordion>

<div *ngIf="aS.addresses.length > 0; else noAddresses" class="addresses">
	<div *ngFor="let address of aS.addresses; let i = index" class="addresses__box" [class.default]="address.isDefault">
		<header *ngIf="address.isDefault" class="addresses__box__header">
			Default
			<img src="assets/img/logo.png" alt="logo" />
		</header>
		<main class="addresses__box__main">
			<div class="addresses__box__main__content">
				<p>{{ address.firstName }} {{ address.lastName }}</p>
				<p>{{ address.street }}</p>
				<p>{{ address.zipCode }} {{ address.city }}</p>
				<p>{{ address.country }}</p>
			</div>
			<div class="addresses__box__main__options">
				<span (click)="deleteAddress(i)" title="delete address">delete</span>
				|
				<span (click)="setDefaultAddress(i)" title="set address to default"
					>set as default</span
				>
			</div>
		</main>
	</div>
</div>
<ng-template #noAddresses>
	<h3 class="noAddresses">No delivery addresses yet</h3>
</ng-template>
