<div class="container">
	<div class="container__frame">
		<h1
			*ngIf="favsService.favouritesList.length > 0"
			class="container__frame__list-heading"
		>
			Your Favourites
		</h1>
		<div
			*ngIf="favsService.favouritesList.length > 0;"
			class="container__frame__list"
		>
			<mat-card
				*ngFor="let favourite of favsService.favouritesList"
				class="container__frame__list-item"
			>
				<div class="image-container">
					<img src="{{ favourite.image }}" alt="{{ favourite.title }}" />
				</div>

				<div class="details-container">
					<div>
						<h2 class="details-container__title">
							{{
								favourite.title.length > 20
									? (favourite.title | slice : 0 : 40) + '...'
									: favourite.title
							}}
						</h2>
						<span class="details-container__price">
							{{
								favourite.price * exchangeRateService.selectedRate
									| number : '1.2-2'
							}}
							{{ exchangeRateService.icon }}
						</span>
					</div>

					<div class="btn-container">
						<button (click)="addToCart()" *ngIf="!orderPlaced">
							Add to cart
						</button>

						<button
							mat-icon-button
							class="fav-btn"
							(click)="toggleSelected(favourite)"
						>
							<mat-icon
								[ngClass]="{
									'red-icon': determineIcon(favourite) === 'favorite'
								}"
								>{{ determineIcon(favourite) }}</mat-icon
							>
						</button>
					</div>
				</div>
			</mat-card>
		</div>
	</div>
</div>
<div class="noFavourites" *ngIf="favsService.favouritesList.length === 0">
	<mat-icon class="heart-icon">favorite_border</mat-icon>
	<h3>You have no favourites yet.</h3>
	<button [routerLink]="''">Explore products</button>
</div>
