.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 300px;

    .product-image {
      width: 300px;
      object-fit: cover;
      object-position: 50% 50%;
      transition: transform 0.125s ease-in-out;
    }

    &:hover {
      .product-image {
        transform: scale(0.6);
        transition: transform 0.125s ease-in-out;
      }
    }
  }
}
