.checkout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 1rem;

    .order-btn {
        color: white;
        background-color: var(--accent-color);
        font-size: 1rem;
        margin-top: 1rem;
        border: none;
        border-radius: 0.5rem;
        display: flex;
        gap: .5rem;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.2);
        cursor: pointer;
        transition: 225ms all ease-in-out;
        width: 150px;
        &:hover {
            background-color: var(--primary-color);
        }
    }
}