@import 'variables.scss';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html,
body {
	height: 100%;
}

* {
	font-family: 'Work Sans';
}

body {
	margin: 0;
}

.mdc-button__label {
	display: flex;
	justify-content: center;
	align-items: center;
}
