@import 'variables.scss';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import 'node_modules/@ngneat/hot-toast/src/styles/styles.css';

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	
}

* {
	font-family: 'Work Sans';
}

body {
	margin: 0;
}

.mdc-button__label {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mat-mdc-text-field-wrapper {
	// border: 1px solid #ccc;
	border-radius: unset !important;
}

.mat-mdc-form-field-subscript-wrapper {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	height: 0px;
}

.mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
	opacity: 0;
}

::ng-deep .mat-input-underline {
	display: none;
}

.ta-center {
	text-align: center;
}

.mdc-text-field--filled .mdc-line-ripple::after {
	border-bottom-color: var(--primary-color);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: gray;
}

button {
	color: white;
	font-size: 1rem;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem;
	white-space: nowrap;
	box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.2);
	cursor: pointer;
	transition: 225ms all ease-in-out;
}

.mt {
	margin-top: 0.5rem;
}

.mat-button-toggle-button {
	border-radius: unset;
}

.mat-mdc-menu-content {
	margin: 0;
	padding: 1rem !important;
	list-style-type: none;
	border-radius: 0 !important;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
	min-width: 112px;
	max-width: 270px;
	border-radius: 0;
}

.cdk-overlay-pane {
	margin-top: 1rem;
}

.mat-menu {
	right: 0;
	padding: 1rem;
	min-width: 300px;
	width: fit-content !important;
	background-color: white;
	z-index: 2;
	color: black;
	box-shadow: 0 0 6px 2px rgba($color: #000000, $alpha: 0.4);
	display: flex;
	flex-direction: column;
	// align-items: center;
	justify-content: center;

	.account-prompt {
		display: flex;
		justify-content: space-between;

		mat-icon {
			transform: scale(1.4);
			color: var(--primary-color);
		}
	}

	.account-option {
		margin-bottom: 0.5rem;
		cursor: pointer;
		transition: 225ms all ease-in-out;
		padding: 0.5rem;
		&:hover {
			background-color: rgba($color: #000000, $alpha: 0.1);
		}
	}

	button {
		color: white;
		background-color: var(--accent-color);
		font-size: 1rem;
		border: none;
		border-radius: 0.5rem;
		padding: 0.5rem;
		margin-top: 0.5rem;
		white-space: nowrap;
		box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.2);
		cursor: pointer;
		transition: 225ms all ease-in-out;

		&:hover {
			background-color: var(--primary-color);
		}
	}

	.product-preview-container {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		margin-top: 1rem;

		img {
			width: 50px;
			padding-right: 1rem;
		}
	}

	.checkout-row {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 2rem;

		span {
			white-space: nowrap;
		}
	}
}

.cart-action-btn {
	color: white;
	background-color: var(--accent-color);
	font-size: 1rem;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem;
	white-space: nowrap;
	box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.2);
	cursor: pointer;
	transition: 225ms all ease-in-out;

	&:hover {
		background-color: var(--primary-color);
	}
}

.active {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
	color: black;
}

.mat-error {
	text-align: start;
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
	stroke: var(--primary-color) !important;
}

.mat-content {
	flex-direction: column !important;
	gap: 1rem;
}

@media (min-width: 480px) {
}

@media (min-width: 801px) {
	.mat-mdc-menu-panel.mat-mdc-menu-panel {
		max-width: 400px !important;
	}

	.checkout-row {
		align-items: center;
		flex-direction: row !important;
	}

	.mat-content {
		flex-direction: row !important;
		gap: 1rem;
	}
}
